<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Component Connection - Magazin componente PC</title>
        <meta name="keywords"
            content="pc, desktop, calculator, calculator desktop, componente, calculator gaming, pc gaming">
        <!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Magazinul tau componente PC. Preturi. Reduceri">
        <!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        <%- include('../fragmente/head.ejs') %>
    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>