<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Component Connection - Produse</title>
        <meta name="keywords"
            content="pc, desktop, calculator, calculator desktop, componente, calculator gaming, pc gaming">
        <meta name="description" content="Magazinul tau componente PC. Preturi. Reduceri">
        <%- include("../fragmente/head") %>     
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>
                    <p>Brand: <span class="brand"><%- locals.prod.brand %> </span></p>
                    <p>Tip alimentare: <span class="tip_alim"><%- locals.prod.tip_alim %> </span></p>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>RAM: <span class="ram"><%- locals.prod.ram %> GB </span></p>
                     <% d=locals.prod.data_adaugare;
                    var v_luna = ["Ianuarie","Februarie","Martie","Aprilie","Mai","Iunie","Iulie","August","Septembrie","Octombrie","Noiembrie","Decembrie"];
                    var luna = v_luna[d.getMonth()];
                    var v_zi=["Luni","Marti","Miercuri","Joi","Vineri","Sambata","Duminica"];
                    var zi=v_zi[d.getDay()-1]; %>
                    <p>Data adăugare: <time datetime="<%d.toUTCString()%>" class="val-data"><%-d.getDate()%>/<%-luna%>/<%-d.getFullYear()%> (<%-zi%>)</time></p> 
                    <p>Număr ventilatoare: <span class="nr_vent"><%- locals.prod.nr_vent %> </span></p>
                    <p>Tehnologii: <span class="tehnologii"><%- locals.prod.tehnologii %> </span></p>
                    <p>Pentru gaming: <span class="pt_gaming"><%- locals.prod.pt_gaming %> </span></p>
                    
                    
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>